.devcon-nav {

  align-items: center;
  box-shadow: none;
  flex-direction: row;
  height: unset;
  opacity: 1;
  position: static;
  transform: translate(0, 0);
  transition: none;
  visibility: visible;
  width: unset;
  z-index: 0;

  a {
    color: var(--white);
    margin: 0 1.25rem;
    padding: 0;
    text-decoration: none;
    letter-spacing: 0.1em;
    font-weight: 600;
    position: relative;
    text-transform: uppercase;
    transition: opacity 0.3s ease-in-out;
    width: fit-content;
    &.active,
    &:hover {
      &:after {
        background: var(--white);
        animation: line 0.1s ease-in-out forwards;
        border-radius: 10px;
        bottom: -5px;
        content: '';
        height: 3px;
        left: 0;
        opacity: 0.8;
        position: absolute;
        right: 5px;
      }
    }
  }

  &--header {
  }

  &--footer {
  }

}