.devcon-homepage-banner {

  background: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 200%;
  border-radius: inherit;
  margin: 0 auto;
  padding-bottom: var(--spacer-4, 1.5rem) !important;
  padding-top: var(--spacer-9, 9rem) !important;

  &__title {
  }

  &__header {
    font-size: 6.688rem;
  }

  &__text {
  }

}