.devcon-ticket-prices {

  &__section {
    background-color: #FFFFFF29 !important;
  }

  &__title {
    font-size: 3.438rem;
    line-height: 1.018;
    padding-bottom: 1.5rem !important;
    padding-top: 1.5rem !important;
  }

  &__rate {
  }

  &__dates {
    margin-bottom: 1.5rem !important;
  }

}