.btn {
  padding: 0.5rem 1em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  word-wrap: break-word;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.1em;
  line-height: 24px;
  cursor: pointer;
  border-radius: 0;

  /*---- Primary Button ----*/
  &.btn-primary {
    background-color: var(--btn-primary-background-color);
    border-color: var(--btn-primary-border-color);
    color: var(--btn-primary-color);
    &:hover {
      background-color: var(--btn-primary-hover-background-color);
      border-color: var(--btn-primary-hover-border-color);
      color: var(--btn-primary-hover-color);
    }
    &:active {
      background-color: var(--btn-primary-active-background-color);
      border-color: var(--btn-primary-active-border-color);
      color: var(--btn-primary-active-color);
    }
  }

  /*---- Secondary Button ----*/
  &.btn-secondary {
    background-color: var(--btn-secondary-background-color);
    border-color: var(--btn-secondary-border-color);
    color: var(--btn-secondary-color);
    &:hover {
      background-color: var(--btn-secondary-hover-background-color);
      border-color: var(--btn-secondary-hover-border-color);
      color: var(--btn-secondary-hover-color);
    }
    &:active {
      background-color: var(--btn-secondary-active-background-color);
      border-color: var(--btn-secondary-active-border-color);
      color: var(--btn-secondary-active-color);
    }
  }

}
