h1 {
  background-image: linear-gradient(90deg, var(--primaryStart), var(--primaryEnd));
  color: var(--primaryStart);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 6.688rem;
  font-weight: 700;
}

h2 {
  background-image: linear-gradient(90deg, var(--primaryStart, var(--primary)), var(--primaryEnd, var(--primary)));
  color: var(--primaryStart, var(--primary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3.438rem;
  margin: 0 0 1rem;
  box-sizing: border-box !important;
  font-weight: 600;
}

h1,h2,p {
  &.text-white {
    color: var(--white) !important;
    -webkit-text-fill-color: var(--white) !important;
  }
}

.devcon-title {
  background-image: linear-gradient(90deg, var(--whiteStart, var(--white)), var(--whiteEnd, var(--white)));
  color: var(--whiteStart, var(--white));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 1.125rem;
  line-height: 1.556;
  margin-bottom: var(--spacer-1, 0.25rem) !important;
}

.devcon-text {
  background-image: linear-gradient(90deg, var(--whiteStart, var(--white)), var(--whiteEnd, var(--white)));
  color: var(--whiteStart, var(--white));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.75rem;
  line-height: 1.286;
  padding-bottom: var(--spacer-2, 0.5rem) !important;
}

.devcon-text-small {
  background-image: linear-gradient(90deg, var(--whiteStart, var(--white)), var(--whiteEnd, var(--white)));
  color: var(--whiteStart, var(--white));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  box-sizing: border-box !important;
  font-family: var(--font-family-base);
  font-size: 1.125rem;
  line-height: 1.556;
}